body{
	background : black;
	color: white;
}
.orange
{
    color: darkorange;
    text-decoration-style: solid;
    display: inline;
}
.top{
    position: fixed;
    background-color: black;
}
.TopBar{
    position: fixed;
    
    height: auto;
    width: 100%;
    
    background-color: black;
}
.RollCameraAction
{
    text-emphasis-style: double-circle;
    text-decoration-style: double;
    font-family: Gentona;
    font-size: 110;
    font-style: italic;
    float: left;
    
}
.moviename{
    color:darkorange;
    }
    .aside{
    float:right;
    margin:30px;
    display:inline;
}


.button
{
    color:white;
    background:black;
    text-decoration: bold;
    padding: 5px 20px;
    font-family: Comic Sans MS;
    font-size: 20px;
    
    
}
select{
    color:white;
    background-color: #333333;
    font-family: Comic Sans MS;
     border: 1px solid black;
     font-size: 20px;
}
.active a{

    color:white;
    background-color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px 20px;
    font-family: Comic Sans MS;
    font-size: 20px;

    


}

.active a:hover
{
    border: 1px solid white;
    background-color: orange;
}
.searchbox{
    border-radius: 30px;
    color:grey;
}
.vvideo{
    background-color: #333333;
    margin-top: 70px;
    
}
.first{
    margin-left: 40px;
    float:left;
    border: 5px solid white;
    position: absolute;

}
img{
    float:left;
}
.tiltle{
    display:inline;

}

.second{
      

    font-size: 15px;
    color: white;
    display: inline;
    float:right;
     float:right;
    background-color:#262626;
    padding-left:10px;
    padding-top: 30px;
    font-family: arial;
    border-radius: 15px;
    border: 10px solid black;
}
.third{
    float:right;
    background-color:#262626;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
    font-family: Comic Sans MS;
    padding-left: 10px;
    border-radius: 15px;



}

.second a{
    color: darkorange;
    text-decoration: none;
}
label{
    color:orange;
}

 .two{
    margin: 50px;
    border-color: black:
    }
    .thd{
        background-color: #262626;

    }